@import "../layout/colors";
section.pagination {
  display: flex;
  justify-content: center;
  padding-right: 0;
  strong {
    font-weight: 300;
  }
  a,
  strong {
    margin-right: 0.3rem;
  }
  .pagination-row :is(strong, a) {
    background-color: $firstBg;
    width: fit-content;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s all;
    font-size: 1rem;
    color: white;
    cursor: pointer;
    &:last-child {
      margin-right: 0;
    }
    &:hover {
      background-color: $secondBg;
    }

    img {
      height: 15px;
    }
    img.invert {
      filter: invert(1);
    }
  }
  strong {
    background-color: $secondBg !important;
  }
}
