section.breadcrumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  padding-left: 0;
}

section.breadcrumb .item {
  font-size: 0.7rem;
  color: #2e2e2e4f;
  font-weight: 700;
  margin-right: 0.2rem;
  text-transform: uppercase;
}

section.breadcrumb .item a {
  color: inherit;
}

section.breadcrumb .item a:hover {
  color: #19a299;
}

section.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-right: 0;
}

section.pagination strong {
  font-weight: 300;
}

section.pagination a,
section.pagination strong {
  margin-right: 0.3rem;
}

section.pagination .pagination-row :is(strong, a) {
  background-color: #383d47;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
  font-size: 1rem;
  color: white;
  cursor: pointer;
}

section.pagination .pagination-row :is(strong, a):last-child {
  margin-right: 0;
}

section.pagination .pagination-row :is(strong, a):hover {
  background-color: #19a299;
}

section.pagination .pagination-row :is(strong, a) img {
  height: 15px;
}

section.pagination .pagination-row :is(strong, a) img.invert {
  -webkit-filter: invert(1);
          filter: invert(1);
}

section.pagination strong {
  background-color: #19a299 !important;
}

main {
  padding: 3rem 5rem;
  background-color: #fff;
}

@media (max-width: 992px) {
  main {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

@media (max-width: 576px) {
  main {
    padding-left: 0rem;
    padding-right: 0rem;
  }
}

section.single-news .main-photo {
  height: 300px;
}

section.single-news .gallery-photo {
  height: 200px;
}

section.news {
  padding-left: 0;
  padding-right: 0;
}

section.news .news-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.5rem;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
  cursor: pointer;
}

section.news .news-row .description {
  margin-top: 4rem;
  color: #2e2e2e;
  font-size: 0.9rem;
}

section.news .news-row .col-lg-8 {
  padding-right: 2rem;
}

@media (max-width: 992px) {
  section.news .news-row .col-lg-8 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

@media (max-width: 992px) {
  section.news .news-row .col-lg-4 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-bottom: 0.4rem;
  }
}

section.news .news-row:hover {
  -webkit-box-shadow: 2px 11px 54px -21px #8c8c8c;
          box-shadow: 2px 11px 54px -21px #8c8c8c;
}

section.news .news-row .title {
  font-weight: 700;
  color: #2e2e2e;
  font-size: 1.2rem;
}

section.news .news-row .short-description {
  line-height: 22px;
}

section.news .news-row .short-description p {
  color: #2e2e2e;
  font-size: 0.9rem;
  font-weight: 400;
}

section.news .news-row .date {
  color: #2e2e2e;
  opacity: 0.6;
}
/*# sourceMappingURL=news.css.map */