section.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-right: 0;
}

section.pagination strong {
  font-weight: 300;
}

section.pagination a,
section.pagination strong {
  margin-right: 0.3rem;
}

section.pagination .pagination-row :is(strong, a) {
  background-color: #383d47;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
  font-size: 1rem;
  color: white;
  cursor: pointer;
}

section.pagination .pagination-row :is(strong, a):last-child {
  margin-right: 0;
}

section.pagination .pagination-row :is(strong, a):hover {
  background-color: #19a299;
}

section.pagination .pagination-row :is(strong, a) img {
  height: 15px;
}

section.pagination .pagination-row :is(strong, a) img.invert {
  -webkit-filter: invert(1);
          filter: invert(1);
}

section.pagination strong {
  background-color: #19a299 !important;
}

section.breadcrumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  padding-left: 0;
}

section.breadcrumb .item {
  font-size: 0.7rem;
  color: #2e2e2e4f;
  font-weight: 700;
  margin-right: 0.2rem;
  text-transform: uppercase;
}

section.breadcrumb .item a {
  color: inherit;
}

section.breadcrumb .item a:hover {
  color: #19a299;
}

aside {
  background-color: #f3f4f8;
  padding-left: 5rem;
  width: 25%;
  padding-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

@media (max-width: 992px) {
  aside {
    width: 100%;
    padding-left: 3rem;
  }
}

aside h5.filter-products {
  font-weight: 700;
  font-size: 0.9rem;
  color: #2e2e2e;
}

aside .filter-wrapper .filter-list {
  padding-left: 0;
  margin-bottom: 0;
  list-style-type: none;
}

aside .filter-wrapper .filter-list li {
  font-size: 0.7rem;
  line-height: 15px;
  margin-bottom: 0.4rem;
  cursor: pointer;
}

aside .filter-wrapper .filter-list li.active {
  font-weight: 700;
}

aside .filter-wrapper .filter-list a {
  color: #383d47;
}

aside .filter-wrapper .filter-list a:hover {
  color: #19a299;
}

aside .filter-wrapper .card {
  -webkit-box-shadow: unset;
          box-shadow: unset;
}

aside .filter-wrapper .card-header {
  background-color: #f3f4f8;
  border: unset;
  color: #2e2e2e;
  font-weight: 500;
  padding-left: 0;
  padding-right: 2.5rem;
  padding-top: 0;
  padding-bottom: 0.3rem;
}

aside .filter-wrapper .card-header span {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 0.8rem;
}

aside .filter-wrapper .card-header a {
  color: inherit !important;
}

aside .filter-wrapper .card-body {
  background-color: #f3f4f8;
  padding: 1rem;
  padding-top: 0.2rem;
}

aside .filter-wrapper .card-body .header-input {
  margin-bottom: 0.4rem;
}

aside .category-row.active {
  background-color: #383d47;
  color: white;
}

aside .category-row.active svg path {
  fill: white;
}

aside .category-row.active img {
  -webkit-filter: brightness(10);
          filter: brightness(10);
}

aside .category-row {
  font-weight: 500;
  font-size: 0.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0.5rem;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
  cursor: pointer;
  padding: 0.3rem 0.5rem;
  color: #212529;
}

aside .category-row:hover {
  background-color: #383d47;
  color: white;
}

aside .category-row:hover svg path {
  fill: white;
}

aside .category-row:hover img {
  -webkit-filter: brightness(10);
          filter: brightness(10);
}

aside .category-row svg,
aside .category-row img {
  height: 25px;
  width: 25px;
  margin-right: 1rem;
}

.used-filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2rem;
}

.used-filters .title {
  font-weight: 400 !important;
  font-size: 0.7rem !important;
  color: #383d47;
  margin-right: 0.6rem;
}

.tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.tags .tag {
  background-color: #8cb1da;
  color: #fff;
  margin-right: 0.6rem;
  border-radius: 4px;
  padding: 0.1rem 0.4rem;
  font-size: 0.7rem;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 0.3rem;
}

@media (max-width: 992px) {
  .tags .tag {
    width: 100%;
  }
}

.tags .tag .dismiss {
  padding-left: 0.5rem;
  cursor: pointer;
}

section.sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 1150px) {
  section.sort {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 992px) {
  section.sort {
    margin-top: 3rem;
    padding-left: 0 !important;
    padding-right: 0 !important;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

section.sort .title {
  font-size: 1.5rem;
  margin-bottom: 0;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

@media (max-width: 576px) {
  section.sort h3.title {
    width: 100%;
  }
}

section.sort .sort-type-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 576px) {
  section.sort .sort-type-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-top: 1rem;
    width: 100%;
    margin-bottom: 0.4rem;
  }
}

section.sort .double-slider-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 576px) {
  section.sort .double-slider-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-top: 1rem;
  }
}

section.sort .double-slider-container #price-slider {
  width: 100px;
}

section.sort .double-slider-container .price-input {
  padding: 0.5rem;
  width: 60px;
  text-align: center !important;
  background-color: #fff;
  -webkit-box-shadow: 0 10px 20px rgba(56, 61, 71, 0.1);
          box-shadow: 0 10px 20px rgba(56, 61, 71, 0.1);
}

section.sort h6.sort-title {
  font-weight: 700;
  color: #2e2e2e;
  font-size: 0.8rem;
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 1rem;
}

@media (max-width: 576px) {
  section.sort h6.sort-title {
    width: 100%;
    margin-bottom: 0.4rem;
  }
}

select.sort-select {
  background-color: #f3f4f8;
  border: unset;
  padding-left: 0.7rem;
  font-weight: 100;
  color: #2e2e2e;
  padding-right: 2rem;
  font-size: 0.9rem;
  height: 30px;
}

select.sort-select option {
  padding: 0.5rem 1rem;
}

.layout-switch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.layout-switch .switch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
  cursor: pointer;
  background-color: #f3f4f8;
}

.layout-switch .switch svg {
  height: 13px;
  width: 13px;
  fill: #383d47;
}

.layout-switch .switch:hover {
  background-color: #383d47;
}

.layout-switch .switch:hover svg {
  fill: #f3f4f8 !important;
}

.layout-switch .switch.active {
  background-color: #383d47;
}

.layout-switch .switch.active svg {
  fill: #f3f4f8;
}

.product .photo {
  height: 200px;
  background-size: contain;
  padding: 1rem;
  max-height: unset !important;
  -webkit-transition: 0.2s all !important;
  transition: 0.2s all !important;
  cursor: pointer;
}

.product .photo:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.content {
  line-height: 18px;
  margin-top: 1rem;
  width: 80%;
}

.content .title {
  font-size: 0.9rem;
  font-weight: 400;
}

.content .title a {
  color: #2e2e2e;
}

.content .title a:hover {
  color: #19a299;
}

.content .price {
  font-size: 0.85rem;
  font-weight: 700;
}

.cart-container {
  background-color: #383d47;
  width: 28px;
  height: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.cart-container:hover {
  background-color: #19a299;
}

.cart-container img {
  height: 15px;
}

section.product-listing-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  padding-right: 0;
}

@media (max-width: 992px) {
  section.product-listing-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

section.product-listing-container section {
  padding-left: 0;
  padding-right: 0;
}

section.product-listing-container section.product-listing {
  width: 75%;
  padding-left: 3rem;
  padding-right: 3rem;
}

@media (max-width: 992px) {
  section.product-listing-container section.product-listing {
    width: 100%;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

section.product-listing-container section.listing.rows .col-12 {
  -ms-flex: 0 0 100% !important;
  -webkit-box-flex: 0 !important;
          flex: 0 0 100% !important;
  max-width: 100% !important;
}

section.product-listing-container section.listing.rows .product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 768px) {
  section.product-listing-container section.listing.rows .product {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  section.product-listing-container section.listing.rows .product .d-flex {
    padding-left: 0rem !important;
    padding-right: 0rem !important;
    -webkit-box-pack: justify !important;
        -ms-flex-pack: justify !important;
            justify-content: space-between !important;
  }
}

section.product-listing-container section.listing.rows .product .photo {
  width: 400px;
}

@media (max-width: 768px) {
  section.product-listing-container section.listing.rows .product .photo {
    height: 300px !important;
    width: auto !important;
  }
}

section.product-listing-container section.listing.rows .product .d-flex {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 3rem;
  padding-right: 3rem;
}

section.product-listing-container section.listing.rows .product .d-flex .content {
  padding-right: 2rem;
}

section.product-listing-container section.listing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
 
}

section.product-listing-container section.listing .content {
  margin-top: 0;
  width: 80%;
}

section.product-listing-container section.listing .col-12 {
  -ms-flex: 0 0 32%;
  -webkit-box-flex: 0;
          flex: 0 0 32%;
  max-width: 32%;
  margin-bottom: 1rem;
  padding: 1rem;
}

@media (max-width: 768px) {
  section.product-listing-container section.listing .col-12 {
    -ms-flex: 0 0 100%;
    -webkit-box-flex: 0;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

section.product-listing-container section.listing .product .photo {
  -webkit-box-shadow: 0 10px 20px rgba(56, 61, 71, 0.1);
          box-shadow: 0 10px 20px rgba(56, 61, 71, 0.1);
  margin-bottom: 0.9rem;
  height: 300px;
  background-size: 80%;
  position: relative;
}

@media (min-width: 500px) and (max-width: 768px) {
  section.product-listing-container section.listing .product .photo {
    background-size: 40%;
  }
}

section.product-listing-container section.listing .product .photo img {
  height: 35px;
  width: 35px;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
  opacity: 0;
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #fff;
  padding: 0.5rem;
}

section.product-listing-container section.listing .product .photo:hover {
  background-size: 90%;
}

section.product-listing-container section.listing .product .photo:hover img {
  opacity: 1;
}

.pagination {
  -webkit-box-pack: justify !important;
      -ms-flex-pack: justify !important;
          justify-content: space-between !important;
}

@media (max-width: 700px) {
  .pagination {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .pagination .desc,
  .pagination .result-container {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .pagination .pagination-row {
    margin: auto;
  }
}

.pagination span {
  font-size: 0.8rem;
}

.popover-header {
  background-color: #19a299;
  color: white;
  font-weight: 500;
}

main {
  background-color: #fff;
  padding-top: 2rem;
}

main section.breadcrumb {
  padding-left: 5rem;
  margin-bottom: 0;
  padding-bottom: 1.5rem;
}

.elements-preloader {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.elements-preloader .fas {
  font-size: 3rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
/*# sourceMappingURL=listing.css.map */