#productsSearch {
  position: absolute;
  left: 0;
  width: 100%;
  top: 100%;
  z-index: 999999999999999;
}

.form-check-input[type="radio"]:checked + label:after,
.form-check-input[type="radio"].with-gap:checked + label:after,
label.btn input[type="radio"]:checked + label:after,
label.btn input[type="radio"].with-gap:checked + label:after {
  background-color: #19a299;
}

.form-check-input[type="radio"]:checked + label:after,
.form-check-input[type="radio"].with-gap:checked + label:before,
.form-check-input[type="radio"].with-gap:checked + label:after,
label.btn input[type="radio"]:checked + label:after,
label.btn input[type="radio"].with-gap:checked + label:before,
label.btn input[type="radio"].with-gap:checked + label:after {
  border-color: #5a5a5a;
}

.alert {
  border-radius: unset;
  color: white !important;
  font-weight: 700;
  top: 88px;
  width: 25% !important;
  right: 0;
  padding-right: 2rem;
}

@media (max-width: 992px) {
  .alert {
    width: 100% !important;
  }
}

.alert p {
  color: white !important;
}

.alert .close {
  opacity: 1;
}

.alert .close span {
  color: white;
}

.alert-success-custom {
  background-color: #19a299;
}

.alert-danger-custom {
  background-color: #c36161;
}

main {
  overflow-x: hidden;
  background-color: #f3f4f8;
}

strong {
  font-weight: 600;
}

blockquote {
  border-left: 5px solid #19a299;
  padding-left: 2rem;
  font-style: italic;
}

.bold {
  font-weight: 700 !important;
}

* {
  font-family: "Montserrat";
}

.page-title {
  font-weight: 700;
  font-size: 1.8rem;
  color: #2e2e2e;
  margin-bottom: 2rem;
}

.logo-bg {
  background-color: #383d47;
  padding: 1.8rem;
  cursor: pointer;
  height: 100%;
}

@media (max-width: 992px) {
  .logo-bg {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.logo-bg:hover {
  background-color: #19a299;
}

.logo-bg img {
  height: 28px;
}

.navbar {
  background-color: #f3f4f8;
  padding: 0;
  padding-right: 5rem;
  -webkit-box-shadow: unset;
          box-shadow: unset;
}

.navbar .header-input {
  padding-right: 0;
  height: 30px;
  width: 200px;
}

.navbar .header-input + .magnify-container {
  background-color: #fff;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.navbar .header-input + .magnify-container img {
  height: 15px;
}

.navbar .navbar-toggler {
  padding-left: 0;
  padding-right: 0;
}

@media (max-width: 992px) {
  .navbar {
    padding-right: 1rem;
  }
}

.navbar .header-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 1rem;
}

@media (max-width: 992px) {
  .navbar .header-icons {
    margin-bottom: 1rem;
  }
}

.navbar .nav-item {
  margin-right: 0.5rem;
}

@media (max-width: 1200px) {
  .navbar .nav-item {
    margin-right: 0;
  }
}

.navbar .nav-link {
  color: #383d47 !important;
  font-weight: 700;
  font-size: 0.71rem;
  padding: 0.2rem 0.4rem !important;
  text-transform: uppercase;
}

.navbar .nav-link:hover {
  color: white !important;
  background-color: #383d47 !important;
}

.navbar .nav-item.active .nav-link {
  color: white !important;
  background-color: #383d47 !important;
}

.navbar .dropdown-toggle:after {
  border: 0 !important;
}

.navbar .dropdown-menu {
  background-color: #f3f4f8;
  line-height: 18px;
  padding: 0;
  border: unset;
}

.navbar .dropdown-menu .dropdown-item {
  color: #383d47 !important;
  font-weight: 400;
  padding: 0.2rem 0.8rem;
  font-size: 0.75rem;
}

.navbar .dropdown-menu .dropdown-item:hover {
  color: white !important;
}

.navbar .header-icon-container {
  position: relative;
  margin-right: 1.3rem;
}

.navbar .header-icon-container .notifications {
  color: white;
  font-weight: 600;
  background-color: #c36161;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  width: 17px;
  height: 17px;
  font-size: 0.65rem;
  position: absolute;
  top: -17%;
  right: -38%;
}

.navbar .header-icon-container img {
  height: 17px;
  width: 20px;
}

.header-input {
  background-size: 16px;
  background-position: 95% 50%;
  background-repeat: no-repeat;
}

@media (max-width: 992px) {
  .header-input {
    margin-bottom: 1rem;
  }
}

.header-input::-webkit-input-placeholder {
  color: #2e2e2e;
  opacity: 0.27;
}

.header-input:-ms-input-placeholder {
  color: #2e2e2e;
  opacity: 0.27;
}

.header-input::-ms-input-placeholder {
  color: #2e2e2e;
  opacity: 0.27;
}

.header-input::placeholder {
  color: #2e2e2e;
  opacity: 0.27;
}

.dropdown .dropdown-menu.dropdown-primary .dropdown-item:hover,
.dropdown .dropdown-menu.dropdown-primary .dropdown-item:active,
.dropdown .dropdown-menu.dropdown-primary .dropdown-item.active,
.dropup .dropdown-menu.dropdown-primary .dropdown-item:hover,
.dropup .dropdown-menu.dropdown-primary .dropdown-item:active,
.dropup .dropdown-menu.dropdown-primary .dropdown-item.active,
.dropleft .dropdown-menu.dropdown-primary .dropdown-item:hover,
.dropleft .dropdown-menu.dropdown-primary .dropdown-item:active,
.dropleft .dropdown-menu.dropdown-primary .dropdown-item.active,
.dropright .dropdown-menu.dropdown-primary .dropdown-item:hover,
.dropright .dropdown-menu.dropdown-primary .dropdown-item:active,
.dropright .dropdown-menu.dropdown-primary .dropdown-item.active {
  background-color: #383d47 !important;
}

::-moz-selection {
  background-color: #19a299;
  color: white;
}

::selection {
  background-color: #19a299;
  color: white;
}

.button {
  border: unset;
  outline: unset;
  padding: 0.4rem 2rem;
  color: white;
  font-size: 0.7rem;
  font-weight: 300;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.button:hover {
  background-color: #19a299;
  color: white;
}

.first-button {
  background-color: #383d47;
}

.bg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.col-12 {
  padding: 0;
}

.section-title {
  font-size: 1.6rem;
  font-weight: 400;
  margin-bottom: 0.1rem;
}

.section-subtitle p {
  font-size: 0.9rem;
}

.white-button {
  background-color: #fff;
  color: #383d47;
}

footer section.newsletter {
  padding: 3rem 5rem;
  color: white;
}

footer section.newsletter .checkbox-label {
  font-size: 0.6rem;
  line-height: 12px;
  padding-left: 1.5rem;
}

footer section.newsletter .custom-checkbox {
  margin-bottom: 1.3rem;
}

footer section.newsletter button {
  font-weight: 400;
}

input,
textarea,
select {
  border: unset;
  outline: unset;
  padding-left: 1rem;
  padding-right: 2.45rem;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  font-size: 0.7rem;
  display: block;
}

select.header-input {
  padding-left: 0.7rem;
  font-family: "Montserrat";
  color: #2e2e2e47;
}

.newsletter-input {
  border: 1px solid white;
  color: white;
  caret-color: white;
  width: 100%;
  background-color: #383d47;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  margin-bottom: 0.7rem;
  margin-top: 1.5rem;
}

.newsletter-input::-webkit-input-placeholder {
  color: white;
}

.newsletter-input:-ms-input-placeholder {
  color: white;
}

.newsletter-input::-ms-input-placeholder {
  color: white;
}

.newsletter-input::placeholder {
  color: white;
}

.form-check-input[type="checkbox"]:checked + label:before,
label.btn input[type="checkbox"]:checked + label:before {
  border-right: 2px solid #19a299 !important;
  border-bottom: 2px solid #19a299 !important;
  border-top: unset !important;
  border-left: unset !important;
  width: 10px;
  height: 1rem;
}

.form-check-input[type="checkbox"] + label:before,
.form-check-input[type="checkbox"]:not(.filled-in) + label:after,
label.btn input[type="checkbox"] + label:before,
label.btn input[type="checkbox"]:not(.filled-in) + label:after {
  border-color: white;
  border-width: 1px;
  width: 13px;
  height: 13px;
}

.adawards-link {
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
  color: white;
}

.adawards-link:hover {
  color: #19a299 !important;
}

section.footer {
  background-color: #f3f4f8;
  padding-top: 3rem;
}

section.footer .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 3rem 5rem;
  border-top: 1px solid #2e2e2e2e;
}

@media (max-width: 992px) {
  section.footer .content .column {
    width: 100%;
    margin-bottom: 1.5rem;
  }
}

section.footer .content .column h6 {
  font-weight: 800;
  text-transform: uppercase;
  font-size: 0.9rem;
}

@media (max-width: 992px) {
  section.footer .content .column h6 {
    text-align: center;
  }
}

section.footer .content .column ul {
  padding-left: 0;
  list-style-type: none;
  line-height: 15px;
}

section.footer .content .column ul li.bold {
  font-weight: 800;
}

section.footer .content .column ul li {
  color: #06151e;
  font-size: 0.8rem;
  font-weight: 500;
}

@media (max-width: 992px) {
  section.footer .content .column ul li {
    text-align: center;
  }
}

section.footer .content .column ul li a {
  color: inherit;
}

section.footer .content .column ul li a:hover {
  color: #19a299;
}

section.footer .content .column ul li a:hover svg path {
  fill: #19a299;
}

section.footer .content .column ul li a svg {
  height: 15px;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

section.footer .content .column ul li a svg path {
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

section.footer .content .column ul li a svg .ig-contour {
  fill: white !important;
}

section.footer .content .column .socials {
  line-height: 19px;
}

.bg-picture {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

section {
  padding-left: 5rem;
  padding-right: 5rem;
}

@media (max-width: 992px) {
  section {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }
}

section.ad-awards {
  background-color: #383d47;
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
  color: #f3f4f8;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-size: 0.5rem;
}

section.ad-awards a {
  font-weight: 700;
  color: inherit;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #19a299;
}

::-webkit-scrollbar-track {
  background-color: #383d47;
}

@media (max-width: 1200px) {
  .navbar-collapse {
    padding: 1rem;
  }
}
/*# sourceMappingURL=layout.css.map */



@media (max-width: 992px) {
  .mobile-dodaj-do-koszyka {
      width: 100% !important;
      justify-content: center;
  }
}